<div class="users_wrapper">
    <div class="confirmation_wrapper">
        <div class="centering_container pt-3em">
            <h1>確認メールが届かない場合</h1>
            <p>アカウント有効化のための確認メールが届かない場合は、下記より再送信してください。</p>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            <div class="actions mt-30px">
                <%= f.submit "再送信する", class: "btn btn-primary mb-10px" %>
            </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
